// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
$light: 300;
$semibold: 600;
$normal: 400;
$bold: 700;
$small: 18px;
$btn: 24px;
$large: 52px;
$h1: 126px;
$blanc: #FFFFFF;
$vert: #B2D234;